<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <title>폼 관련 요소</title>
</head>
<body>
  <h1>가장 좋아하는 아이돌을 뽑아주세요</h1>
  <form action="https://formspree.io/seulbinim@gmail.com" method="POST">
    <fieldset>
      <legend>투표 폼 서식</legend>
      <label for="name">투표자명</label>
      <input type="text" id="name" name="name" /><br />
      <label for="">아이돌 그룹</label>
      <ul>
        <li><input type="radio" id="bts" name="idol" value="방탄소년단" /> <label for="bts">방탄 소년단</label></li>
        <li><input type="radio" id="gdle" name="idol" value="여자아이들" /> <label for="gdle">여자 아이들</label></li>
        <li><input type="radio" id="twi" name="idol" value="트와이스" /> <label for="twi">트와이스</label></li>
        <li><input type="radio" id="exo" name="idol" value="엑소" /> <label for="exo">엑소</label></li>
      </ul>
      <label for="memo">남기는 말</label><br />
      <textarea name="message" id="memo" cols="30" rows="10"></textarea><br />
      <label for="web">신청과목</label>
      <select name="web" id="web">
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="js">javascript</option>
      </select><br />
      <button type="submit">전송</button>
    </fieldset>
  </form>
</body>
</html>